#{{ ansible_managed }}

[DEFAULT]

debug = false

[api]
# API configuration

# API host URL
host_api = {{ external_lb_vip_address }}

# API port
port = {{ safirnotification_port }}

[cloud]
#
# From safirnotification.common.config
#

# Cloud config name (string value)
cloud_name = '{{ cloud_config_name }}'

# Keystone identity API version (string value)
#identity_api_version = 3

# OpenStack Dashboard URL to be send with notification mail (string
# value)
horizon_url = {{ safirnotification_monitor_panel_url }}

[email_server]
# E-mail server configurations to be used for notification emails

# SMTP Server
smtp_server = '{{ safirnotification_email_host }}'

# SMTP Port
smtp_port = '{{ safirnotification_email_port }}'

# E-mail account username
login_address = '{{ safirnotification_email_host_user }}'

# E-mail account password
password = '{{ safirnotification_email_host_password }}'

