# {{ ansible_managed }}

[Unit]
Description=B3LAB safirnotification service
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ safirnotification_system_user_name }}
Group={{ safirnotification_system_group_name }}

{% if program_override is defined %}
ExecStart={{ program_override }} {{ program_config_options|default('') }} --logfile /var/log/safirnotification/{{ item.service_name }}.log --config-file /etc/safirnotification/safirnotification.conf
{% else %}
ExecStart={{ safirnotification_bin }}/{{ item.service_name }} {{ program_config_options|default('') }} --logfile /var/log/safirnotification/{{ item.service_name }}.log --config-file /etc/safirnotification/safirnotification.conf
{% endif %}

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=120
Restart=on-failure
RestartSec=2

CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=false
TasksAccounting=true

[Install]
WantedBy=multi-user.target
