#{{ ansible_managed }}

[DEFAULT]

# clouds.yaml file should either be in the current directory or
# ~/.config/openstack directory or /etc/openstack directory.
# openstack_config_name is the config name used in the clouds.yaml file
openstack_config_name = '{{ cloud_config_name }}'

# This URL will be send by email as a shortcut to
# Safir Monitor Panel
monitor_panel_url = {{ safirnotification_monitor_panel_url }}

[api]
# API configuration

# API host URL
host = {{ external_lb_vip_address }}

# API port
port = {{ safirnotification_port }}

[email]
# E-mail server configurations to be used for notification emails

# SMTP Server
smtp_server = '{{ safirnotification_email_host }}'

# SMTP Port
smtp_port = '{{ safirnotification_email_port }}'

# E-mail account username
login_addr = '{{ safirnotification_email_host_user }}'

# E-mail account password
password = '{{ safirnotification_email_host_password }}'

